.featured {
  margin-top: 80px;

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  &__article {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin-top: 20px;

    &__title {
      font-size: 16px;
      font-weight: bold;
      line-height: 155%;
      margin-bottom: 10px;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: #726f9e;
      }
    }

    &__info {
      color: rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      font-size: 12px;
      display: flex;

      span {
        margin-right: 25px;
        position: relative;

        &:nth-child(1) {
          &:after {
            position: absolute;
            content: '/';
            display: block;
            top: 0;
            right: -14px;
          }
        }
      }
    }
  }
}