@import "../assets/variables";

.layout {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    padding-bottom: 200px;

    @media (max-width:$dt_bp){
        flex-direction: column;
    }

    &__content {
        width: 75%;
        padding: 0 60px 0 0;

        @media (max-width:$dt_bp){
            width: 100%;
            padding: 0 20px;
        }
    }

    &__sidebar {
        margin-top: 100px;
        width: 360px;
        padding-top: 0;

        @media (max-width:$dt_bp){
            width: 100%;
            padding: 0 20px;
        }
    }
}
